<div class='wrapper'>
  <div class='main'>
    <div class='top'>
      <div class='welcome'>
        <h1>Welcome, <%= session[:user_name] %>!</h1>
      </div>
      <div class='menu'>
        <a href='/events'>Event Dashboard</a>&nbsp;&nbsp;
        <a href='/sessions' data-method='delete'>Logout</a>
      </div>
    </div>
    <div class='event_info'>
      <h3><%= @event.event_name %></h3>
      <p>Host: <%= @event.user.first_name %> <%= @event.user.last_name %></p>
      <p>Date: <%= @event.event_date %></p>
      <p>Location: <%= @event.event_location %>, <%= @event.event_state %></p>
      <p>People who are joining the event: <%= @event.users_joined.count %></p>
      <table>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>State</th>
        </tr>
        <% @event.users_joined.each do |user| %>
          <tr>
            <td><%= user.first_name %> <%= user.last_name %></td>
            <td><%= user.location %></td>
            <td><%= user.state %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class='discussion'>
      <h4>Discussion about this event</h4>
      <div class='comment'>
        <% @comments.each do |c| %>
          <p><%= c.user.first_name %> says: <%= c.comment %></p>
          <hr class='style1'>
        <% end %>
      </div>
      <div class='add_comment'>
        <form action='/comments' method='post'>
          <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
          <input type='hidden' name='event_id' value='<%= @event.id %>'>
          <textarea name='comment'></textarea><br>
          <input type='submit' value='Submit Comment'>
        </form>
      </div>
    </div>
  </div>
</div>
